@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppins-black';
    src: url('./assets/fonts/poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-extrabold';
    src: url('./assets/fonts/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('./assets/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-thin';
    src: url('./assets/fonts/poppins/Poppins-Thin.ttf');
}